.slider {
	width: 45%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;	
	animation: cambio 20s infinite alternate;	
}

.slider li {
	width: 100%;
	list-style: none;

}


.slider li a {
	display: block;
	font-size: 30px;
	text-align: center;
	line-height: 100px;
	color: #fff;

}

.slider img {
	width: 100%;
	border-radius: 10px;
	transform: scale(0.9);
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
    transition: all 0.8s ease;

}

.slider img:hover {
	opacity: 0.8;
	transform: scale(1);


}


.slider li:nth-child(1) {

	background: linear-gradient(90deg, rgba(28, 94, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
	border: 1px solid #1c5ed2;
	

}

.slider li:nth-child(2) {
	
	background: linear-gradient(90deg, rgba(28, 94, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
	border: 1px solid #1c5ed2;
	



}

.slider li:nth-child(3) {
	
	background: linear-gradient(90deg, rgba(28, 94, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
	border: 1px solid #1c5ed2;
	


}

.slider li:nth-child(4) {
	
	background: linear-gradient(90deg, rgba(28, 94, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
	border: 1px solid #1c5ed2;

}

.slider li:nth-child(5) {
	
	background: linear-gradient(90deg, rgba(28, 94, 218, 1) 0%, rgba(0, 212, 255, 1) 100%);
	border: 1px solid #1c5ed2;
	


}



@keyframes cambio {
	0% {
		margin-left: 0;
	}
	20% {
		margin-left: 0;
	}
	25% {
		margin-left: -100%;
	}
	45% {
		margin-left: -100%;
	}
	50% {
		margin-left: -200%;
	}
	70% {
		margin-left: -200%;
	}
	75% {
		margin-left: -300%;
	}
	95% {
		margin-left: -300%;
	}
	100% {
		margin-left: -400%;
	}
	
	
}

@media (max-width: 768px) {
	.slider{
		width: 100%;
	}
	.slider ul{
		width: 200%;
	}
	.slider li{
		width: 50%;

	}

	.slider li a{
		display: unset;

	}


	
}
