.testimonials {
    padding: 30px 10px;
    text-align: center;
    background: linear-gradient(#f94b4281, #F94B42), url(../../assets/img/project4.jpg);
    position: relative;
    z-index: 1;

  }   

    .testimonials .section-title-1{
        color: #fff !important;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    .testimonials .section-title-1 h2 {
        font-size: 36px;
        font-weight: 600;
        margin-bottom: 0;
        padding-bottom: 0;
        color: #fff;
    }

    .testimonials .section-title-1 h2 span {
        color: #f1c40f;
    }

  
   .testimonials-item {
        margin-bottom: 15px;
        padding: 20px;  
       
            }



   .testimonials-item-image {
        width: 80px;
        height: 80px;      
        margin: 0 auto;      
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

  .img {
        width: 70px !important;
        height: 70px !important;
        margin: 0 auto;
        transition: all 0.3s ease 0s;
        cursor: pointer;
        color: rgb(58, 218, 18);
        
      
      
    }
     .img:hover {
        transform: scale(1.1);
        color: rgb(58, 218, 18);
        transition: all 0.3s ease 0s;
        cursor: pointer;
    }
       
 

    @media (min-width: 768px) {
        .testimonials .testimonial-item {
            padding: 30px 15px;
        }
        .img {
            width: 80px !important;
            height: 80px !important;
            margin: 0 auto;
            transition: all 0.3s ease 0s;
            cursor: pointer;
            color: rgb(58, 218, 18);
        }
    }